@import url('normalize.css');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  max-width: 90%;
  min-height: 100dvh;
  margin: 0 auto;

  font:
    400 1em Arial,
    sans-serif;
}

.button {
  cursor: pointer;
  padding: 0.5em;
}

.button:disabled {
  cursor: not-allowed;
}

.input[type='text'],
.input[type='password'] {
  padding: 0.5em;
}

.h1-title {
  margin-top: 0;
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2em 0;
}

.border {
  border: 1px solid black;
  border-radius: 6px;
}

.hide {
  display: none;
}

.err-message {
  font-size: 0.8em;
  color: red;
}

.input-invalid {
  border-color: red;
}
