.sources {
  min-width: 100%;
  display: flex;
  overflow: auto;
  gap: 1.5em;
  -webkit-overflow-scrolling: touch;
  font:
    300 1em 'JetBrains Mono',
    monospace;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  padding: 2em 1em;
  position: relative;
  border-bottom: 1px #fff solid;
  border-top: 1px #fff solid;
  scrollbar-color: #fff #1a1a1d;
  scrollbar-width: thin;
}

.source__item {
  min-width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  font: inherit;
  line-height: 1;
  transition: 0.25s;
  cursor: pointer;
  position: relative;
}

.source__item:not(:last-child) {
  padding-right: 1.5em;
}

.source__item:not(:last-child):after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: #fff;
}

.source__item:hover,
.source__item:focus {
  color: #86b6fd;
}

.source__item-name {
  font-weight: 400;
  white-space: nowrap;
}

@media (max-width: 640px) {
  .sources {
    padding: 1.5em 1em;
  }
  .source__item {
    line-height: 2.5;
  }
}
