* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  color: #fff;
  background: #1a1a1d;
  font-family: sans-serif;
}

.wrapper {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  padding: 2em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  font:
    4em 'Gloock',
    sans-serif;
  text-transform: uppercase;
  position: relative;
  padding-left: 1.5em;
}

.header__title::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1.2em;
  height: 1.2em;
  background: url(./img/svg/logo.svg) 100% / cover no-repeat;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px #fff solid;
  padding: 1.5em 1em;
}
.footer .copyright {
  font:
    700 1em 'IBM Plex Sans',
    sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
}
.footer .copyright a {
  display: inline-block;
  text-decoration: none;
  margin-left: 0.5em;
  text-transform: uppercase;
  color: #fff;
  transition: 0.25s;
}
.footer .copyright a:hover {
  color: #86b6fd;
}
.footer .copyright:before {
  content: '©';
}

.footer__logo {
  display: block;
  width: 120px;
  height: 45px;
  background: url(./img/svg/rs-logo.svg) 100% / cover no-repeat;
  cursor: pointer;
}

@media (max-width: 900px) {
  .wrapper {
    max-width: 90%;
  }
}

@media (max-width: 640px) {
  .header__title {
    font-size: 2em;
  }
  .footer {
    flex-direction: column;
    gap: 2em;
    border-bottom: none;
  }
}
