/* Auth */

.auth-wrapper,
.about-wrapper {
  min-width: 50%;
  padding: 2em;
  border: 1px solid black;
  border-radius: 8px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  border-radius: 8px;
}

/* About */

.about-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

/* Chat */

.user-info-wrapper,
.app-info-wrapper,
.header-buttons-wrapper {
  display: flex;
}

.app-info-wrapper {
  gap: 4em;
}

.user-info-wrapper,
.header-buttons-wrapper {
  gap: 1em;
}

.user-info-status {
  color: green;
}
