/* Auth */

.auth-wrapper,
.about-wrapper {
  min-width: 50%;
  padding: 2em;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

/* About */

.about-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

/* Chat */

.user-info-wrapper,
.app-info-wrapper,
.header-buttons-wrapper {
  display: flex;
}

.app-info-wrapper {
  gap: 4em;
}

.user-info-wrapper,
.header-buttons-wrapper {
  gap: 1em;
}

.user-info-status {
  color: green;
}

.chat-wrapper {
  display: flex;
  gap: 1em;
  width: 100%;
}

.dialog-wrapper {
  flex-grow: 1;
  padding: 1em;
}
