.main {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.login__wrapper {
  display: flex;

  min-width: 800px;
  min-height: 478px;

  color: var(--body-text-default);

  background-color: var(--body-bg-light);
  border-radius: 24px;
}

.login__left-aside {
  min-width: 50%;
  background: url('../../../assets/svg/login-form-img.svg') left center / 90% no-repeat;
}

.login__form-wrapper,
.login__form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
}

.login__form-wrapper {
  width: 50%;
  padding: 0 60px 0 18px;
}

.login__form-title {
  font:
    500 22px Poppins,
    sans-serif;
  letter-spacing: -2%;
}

@media (width <= 840px) {
  .login__wrapper {
    min-width: 60%;
    height: auto;
    min-height: auto;
    padding: 60px 40px;
  }

  .login__form-wrapper {
    width: 100%;
    padding: 0;
  }

  .login__left-aside {
    display: none;
  }
}

@media (width <= 640px) {
  .login__wrapper {
    min-width: 80%;
  }
}
