.result-block {
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.empty-puzzle {
  min-width: 2.2em;
  height: 46px;
  background-color: #d9ece8;
  position: relative;
  border-radius: 4px;
}
