/* Old */

.header {
  display: flex;
  height: 10%;
  padding: 30px 40px;
}

.logo-title {
  font:
    600 20px Poppins,
    sans-serif;
}

.main {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.login__wrapper {
  display: flex;

  min-width: 800px;
  min-height: 478px;

  color: var(--body-text-default);

  background-color: var(--body-bg-light);
  border-radius: 24px;
}

.login__left-aside {
  min-width: 50%;
  background: url('../../../assets/svg/login-form-img.svg') left center / 90% no-repeat;
}

/* New */

.content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
  justify-content: space-around;

  max-width: 50%;
  height: 100%;
  margin: 0 auto;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;

  text-align: center;
}

.game-title {
  margin: 0;
  font:
    900 72px Poppins,
    sans-serif;
  color: var(--body-text-inverse);
}

.greeting {
  font:
    400 22px Poppins,
    sans-serif;
}

.greeting-info {
  opacity: 0.6;
}

.button-start {
  cursor: pointer;

  display: block;

  width: 240px;
  padding: 24px;

  font:
    500 22px/24px Poppins,
    sans-serif;
  color: var(--body-text-default);

  background-color: var(--btn-bg-accent);
  border: none;
  border-radius: 12px;

  transition:
    background-color 0.5s ease,
    box-shadow 0.5s ease,
    transform 0.5s ease;

  &:hover {
    transform: scale(1.02);

    background-color: var(--btn-bg-accent-hover);
    box-shadow: 3px 35px 60px 1px rgb(18 30 36 / 81%);
    box-shadow: 3px 35px 60px 1px rgb(18 30 36 / 81%);
    box-shadow: 3px 35px 60px 1px rgb(18 30 36 / 81%);
  }
}

.bg-wave {
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 240px;

  background: url("../assets/svg/bg-wave.svg") bottom center/cover no-repeat;
}

.start-bg {
  position: absolute;
  z-index: -2;
  top: 0;

  width: 100%;
  height: 100%;

  opacity: 0.5;
  background: url("../assets/svg/start-bg.svg") 100% / cover no-repeat;
}

.start-img {
  width: 660px;
  height: 250px;
  background: url("../assets/svg/start-img.svg") center/contain no-repeat;
}

@media (width <= 1200px) {
  .content-wrapper {
    max-width: 70%;
  }
}

@media (width <= 900px) {
  .content-wrapper {
    max-width: 80%;
  }

  .game-title {
    font-size: 48px;
  }

  .bg-wave {
    height: 30%;
  }

  .start-img {
    width: 600px;
  }
}

@media (width <= 640px) {
  .start-img {
    width: 520px;
  }
}

/* Old */

.footer {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 20px 40px;

  font-size: 14px;
}

.copyright_rss-logo {
  position: absolute;
  right: 20px;
  bottom: 20px;

  width: 88px;
  height: 48px;

  background: url('../../../assets/svg/rss-logo.svg') center / 80% no-repeat #31424a;
  border-radius: 8px;
}
