.game-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.result-block-wrapper {
  /* width: clamp(43.75rem, 8.333vw + 40rem, 50rem);
  height: clamp(27.5rem, 5vw + 25.25rem, 31.25rem); */
  padding: 1em;
  border-radius: 24px;
  background-color: var(--board-wrapper-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.result-block {
  width: clamp(42.5rem, 6.667vw + 39.5rem, 47.5rem);
  height: calc(clamp(25.75rem, 4vw + 23.95rem, 28.75rem) / 10);
  background-color: var(--board-results-bg);
  display: flex;
}

.source-block {
  height: 46px;
  padding: 1em;
  display: flex;
  justify-content: center;
  min-height: 60px;
}

@media (max-width: 1024px) {
  .game-wrapper {
    flex-direction: column;
  }
  .source-block {
    width: 100%;
  }
}
