.game-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  justify-content: center;

  margin: 2em 0;
}

.result-block-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1px;
  align-items: center;
  justify-content: center;

  padding: 0.6em;

  background-color: var(--board-wrapper-bg);
  border-radius: 8px;
}

.buttons-wrapper {
  display: flex;
  gap: 1em;
}
