@import url('variables.css');

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

@media (max-width: 680px) {
  .footer {
    padding: 16px;
    flex-direction: column;
    gap: 16px;
  }
}
