@import url('variables.css');

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 24px 24px 0 24px;
}

.logo {
  min-width: 160px;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font: 24px DotGothic16, sans-serif;
  letter-spacing: 1.68px;
  background-color: var(--primary-dark);
  color: var(--primary-light);
}

.header__nav {
  display: flex;
  gap: 8px;
}

.header__btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--primary-dark);
  transition: background 0.5s ease;
}

.header__btn_sound {
  background: url(../assets/svg/volume-on.svg) center/40% no-repeat;
  cursor: pointer;
  &:hover {
    background: url(../assets/svg/volume-on-hover.svg) center/40% no-repeat
      var(--primary-dark);
  }
}

.header__btn_sound-off {
  background: url(../assets/svg/volume-off.svg) center/40% no-repeat;
  cursor: pointer;
  &:hover {
    background: url(../assets/svg/volume-off-hover.svg) center/40% no-repeat
      var(--primary-dark);
  }
}

.header__btn_settings {
  background: url(../assets/svg/settings.svg) center/40% no-repeat;
  cursor: pointer;
  &:hover,
  &.checked {
    background: url(../assets/svg/settings-hover.svg) center/40% no-repeat
      var(--primary-dark);
  }
}

.header__btn_score {
  background: url(../assets/svg/star.svg) center/40% no-repeat;
  cursor: pointer;
  &:hover,
  &.checked {
    background: url(../assets/svg/star-hover.svg) center/40% no-repeat
      var(--primary-dark);
  }
}

/* Dark Theme Icons */

.header__btn_sound_theme-dark {
  background: url(../assets/svg/volume-on-hover.svg) center/40% no-repeat;
  cursor: pointer;
  &:hover,
  &.checked {
    background: url(../assets/svg/volume-on.svg) center/40% no-repeat
      var(--primary-dark);
  }
}

.header__btn_settings_theme-dark {
  background: url(../assets/svg/settings-hover.svg) center/40% no-repeat;
  cursor: pointer;
  &:hover,
  &.checked {
    background: url(../assets/svg/settings.svg) center/40% no-repeat
      var(--primary-dark);
  }
}

.header__btn_score_theme-dark {
  background: url(../assets/svg/star-hover.svg) center/40% no-repeat;
  cursor: pointer;
  &:hover,
  &.checked {
    background: url(../assets/svg/star.svg) center/40% no-repeat
      var(--primary-dark);
  }
}

.header__btn_sound-off_theme-dark {
  background: url(../assets/svg/volume-off-hover.svg) center/40% no-repeat;
  cursor: pointer;
  &:hover {
    background: url(../assets/svg/volume-off.svg) center/40% no-repeat
      var(--primary-dark);
  }
}

@media (max-width: 900px) {
  .header {
    padding: 20px;
  }
}

@media (max-width: 640px) {
  .header__btn {
    width: 48px;
    height: 48px;
  }
  .logo {
    min-width: 120px;
    min-height: 48px;
    font: 18px DotGothic16, sans-serif;
  }
}
