* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.board-wrapper {
  display: grid;
}

.column-hints-wrapper {
  display: flex;
}

.row-hints-wrapper {
  display: flex;
  flex-direction: column;
}

.grid-wrapper {
  background-color: beige;
  display: grid;
  width: fit-content;
}

.btn-get-matrix {
  width: 100px;
  height: 40px;
}

.column-wrapper {
  display: flex;
  flex-direction: column;
}

.row-wrapper {
  display: flex;
}

/* Border settings */
.board-wrapper {
  border-left: 3px solid black;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  /* border-right: 1px solid black; */
}

.column-hints-wrapper {
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.grid-wrapper {
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.row-hints-wrapper {
  border-top: 2px solid black;
}

.grid-wrapper div:nth-child(5n) {
  border-right: 2.3px solid black;
}

.row-hints-wrapper .row-wrapper:nth-child(5n) {
  border-bottom: 1px solid black;
}

.column-hints-wrapper .column-wrapper:nth-child(5n) .hint-item {
  border-right: 2.3px solid black;
}

.grid-wrapper div:nth-child(n + 51):nth-child(-n + 60) {
  border-top: 2.3px solid black;
}

.grid-item {
  border: 0.3px solid black;
}

.img-preview {
  border: 0.3px solid black;
}

.grid-item-checked {
  background: url(../assets/svg/cross.svg) center/80% no-repeat;
}
