* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.board-wrapper {
  display: grid;
}

.column-hints-wrapper {
  display: flex;
}

.row-hints-wrapper {
  display: flex;
  flex-direction: column;
}

.grid-wrapper {
  background-color: beige;
  border: 2px solid black;
  display: grid;
  width: fit-content;
}

.grid-item {
  border: 0.5px solid black;
}

.btn-get-matrix {
  width: 100px;
  height: 40px;
}

.column-wrapper {
  display: flex;
  flex-direction: column;
}

.row-wrapper {
  display: flex;
}
