@import url('variables.css');
@import url('fonts.css');

.timer__wrapper {
  font: 20px Helvetica;
  display: flex;
  align-items: center;
  gap: 4px;
}

.timer__icon_pause {
  width: 16px;
  height: 16px;
  background: url(../assets/svg/pause.svg) center/cover no-repeat;
  &:hover {
    cursor: pointer;
  }
}
