.button-continue {
  padding: 12px 24px;
  font:
    500 14px/20px Poppins,
    sans-serif;
  color: var(--btn-text-default);
  background-color: var(--btn-bg-default);

  &:hover {
    color: var(--body-text-default);
    background-color: var(--btn-bg-hover);
  }
}

.button-continue.disabled {
  cursor: default;
  user-select: none;
  opacity: 0.5;

  &:hover {
    color: var(--btn-text-default);
    background-color: var(--btn-bg-default);
  }
}
