.source-block {
  height: 46px;
  padding: 0.6em;
  display: flex;
  justify-content: center;
  min-height: calc(46px + 1.2em);
  padding: 0.6em;
  border-radius: 8px;
  background-color: var(--board-wrapper-bg);
  align-items: center;
  gap: 2px;
}

.empty-place {
  min-width: 2.2em;
  height: 46px;
  background-color: #d9ece8;
  position: relative;
  border-radius: 4px;
}
