.track {
  position: relative;
  margin: 2em 0 3em;
}

.car-name {
  display: block;
  margin: 0.5em 0;
  font-weight: 600;
}

.road {
  width: 100%;
  border-bottom: 2px solid black;
}

.finish {
  position: absolute;
  right: 3em;
  bottom: 0.5em;

  width: 32px;
  height: 32px;

  background: url('../../../assets/finish.svg') center/cover no-repeat;
}

.race-message {
  position: absolute;
  bottom: -1.5em;
  font-size: 0.9em;
}
