.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--back-overlay);
  display: none;
  justify-content: center;
  align-items: center;
}
.modal-wrapper {
  background-color: var(--back-body);
  border-radius: 40px;
  padding: 16px;
  width: 800px;
  display: flex;
  gap: 20px;
}
.modal-product-img-wrapper {
  min-width: 310px;
  height: 310px;
  background-color: #fff;
  border-radius: 40px;
  overflow: hidden;
}
.modal-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.modal-product-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.modal-wrapper .tab-wrapper {
  gap: 8px;
}
.product-size-title {
  margin-bottom: 8px;
}
.modal-total-wrapper {
  display: flex;
  justify-content: space-between;
}
.total-disclaimer {
  display: flex;
  gap: 8px;
  padding: 12px 0;
  border-top: 1px solid var(--border-inverse);
}
.svg-info {
  min-width: 16px;
}