@import url("variables.css");

/* Headlines */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.title-l {
  font: var(--title-l);
}

.title-m {
  font: var(--title-m);
}

.title-s {
  font: var(--title-s);
}

.accent {
  font-style: italic;
  color: var(--text-accent);
}

/* Body */

body {
  font-family: var(--main-font);
  font: var(--body-default);
}

.caption {
  font: var(--body-caption);
}

/* Links */

.link {
  font: var(--link-default);
  text-decoration: none;
}

/* Headline in About section crutch */

.font-adjust {
  font-size: 59.9px;
}

@media (max-width:380px) {
  .font-adjust {
    font: var(--title-m);
  }
}