.puzzle-item {
  height: 46px;
  background-color: var(--body-text-inverse);
  border: 1px solid var(--body-text-inverse);
  box-sizing: border-box;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--body-text-default);
  transition:
    background-color 0.3s ease,
    border 0.3s ease,
    color 0.3s ease;
  cursor: pointer;
  &:hover {
    background-color: var(--btn-bg-default);
    color: var(--body-text-inverse);
    border: 1px solid var(--btn-bg-default);
  }
}
